<div id="canvas-wrapper" class="canvas-wrapper" @onmousedown="@HandleMouseDown" @onmousemove="@HandleMouseMove" @onmouseup="@HandleMouseUp">

    <p>Last Click=@ClickPoint.ToString(), SelectedItemText =@SelectedItemText </p>
    
    <svg id="canvas" class="canvas">

        @foreach (var svgItem in SvgComponents)
        {
            <SvgComponent SvgAttributes="@svgItem"></SvgComponent>
        }
    </svg>
</div>

